.pio
.idea
.DS_Store
.vscode
.vs
.history/
/.cache
/.venv
build
**/__pycache__/
/compile_commands.json
*.local*
platformio.local.ini
/managed_components
/.dummy
/CMakeLists.txt
/dependencies.lock
/sdkconfig.*
.claude/*

lib/EpdFont/fontsrc
lib/EpdFont/scripts/downloaded_fonts/
lib/EpdFont/scripts/instanced_fonts/
lib/EpdFont/scripts/output/
*.cpfont
*.generated.h
